*, body, html {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
}

.dark {
    background-color: #333;
    color: #fff;
}

header {
    color: #fff;
    z-index: 10;
}

.header-banner {
    height: 100vh;
    background-color: #333;
    width: 100%;
    font-size: 1.3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header-banner a{
    color: #fff;
    font-weight: bold;
}

.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

nav {
    width: 100%;
    height: 60px;
    background: #333;
    z-index: 10;
}

nav div {
    color: white;
    font-size: 2rem;
    line-height: 60px;
    position: absolute;
    top: 0;
    left: 2%;
    visibility: hidden;
}
.visible-title {
    visibility: visible;
}

nav ul { 
    list-style-type: none;
    margin: 0 2% auto 0;
    padding-left: 0;
    text-align: right;
    max-width: 100%;
}
nav ul li { 
    display: inline-block; 
    line-height: 60px;
    margin-left: 10px;
}
nav ul li a {
    text-decoration: none; 
    color: #fff;
}

.inner-content {
    width: 80%;
    margin: auto;
    text-align: justify;
}

.content {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu {
    max-width: 35vw;
    height: 70vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.button {
    text-align: center;
    color: #333;
    height: 7vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 2rem;
    border: solid #333;
}
.button:hover {
    background: #ddd;
    cursor: pointer;
}
.button:active {
    background: #777;
    color: #fff;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
}

h5 {
    font-size: 7rem;
    font-weight: 900;
    text-align: center;
}

h4 {
    font-size: 2rem;
    font-weight: 900;
    text-align: justify;
}

img {
    min-width: 80vw;
    min-height: 80vh;
    max-width: 90vw;
    max-height: 90vh;
    margin: auto;
}

.invisible {
    display: none;
}

.rules {
    padding-left: 30px;
    line-height: 2rem;
    font-size: 1.5rem;
}

.start-test {
    text-align: center;
    color: #ddd;
    border: solid #ddd;
    height: 7vh;
    border-radius: 10px;
    font-size: 2rem;
    min-width: 15vw;
    margin: auto;
    margin-top: 5vh;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.active {
    color: #333;
    border: solid #333;
}
.active:hover {
    background: #ddd;
    cursor: pointer;
}
.active:active {
    background: #777;
    color: #fff;
    cursor: pointer;
}

.sdol li {
    line-height: 5rem;
}

li {
    display: list-item;
    list-style-position: inside;
}